{% include 'W/navbar.html' %}
   <title>Add Student</title>

    {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }} Register For Courses Here!!</h1>
        {% else %}
        <h2>You are not logged in.</h2>
        {% endif %}
        {% if submitted %}
                You are in!!
        {% else %}
<center>
    <form action = "" method=POST>
        {% csrf_token %}
        {{ form.as_p }}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <input type="submit" value="Submit">
    </form>
        {% endif  %}
</center>
{% block content %}
    <title>Register For Courses</title>
{% endblock %}


